In [25]:
import numpy as np
import pandas as pd
from icecream import ic

In [26]:
# 22. 다음 객체에서 키값 A와 중복된 값이 제거된 1,2,3,4,5,6,7 이 출력되는 코드를 작성
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
ic(df)

ic| df:     A
        0   1
        1   2
        2   2
        3   3
        4   4
        5   5
        6   5
        7   5
        8   6
        9   7
        10  7

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [29]:
# df.loc[df['A'].shift() != df['A']]
# df['A'].shift()
df.drop_duplicates()

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [38]:
# 23. 다음 객체에서 행의 각 요소에서 행의 평균을 뺀 값을 출력
df = pd.DataFrame(np.random.random(size=(5, 3)))
# ic(df)
# ic(df.mean(axis=1))
df.sub(df.mean(axis=1), axis=0)

ic| df:           0         1         2
        0  0.055731  0.486767  0.238936
        1  0.813055  0.432616  0.485110
        2  0.034436  0.618607  0.126113
        3  0.562427  0.714692  0.931904
        4  0.406167  0.602540  0.683251
ic| df.mean(axis=1): 0    0.260478
                     1    0.576927
                     2    0.259719
                     3    0.736341
                     4    0.563986
                     dtype: float64

          0         1         2
0 -0.204747  0.226289 -0.021542
1  0.236128 -0.144311 -0.091817
2 -0.225282  0.358888 -0.133606
3 -0.173914 -0.021649  0.195563
4 -0.157819  0.038554  0.119265

In [64]:
# 24. 다음 객체에서 가장 작은 합계를 가진 숫자열의 열을 출력
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
ic(df)
# df.loc[df[]]
ic(df.sum(axis=0))
ic(df.sum(axis=0).idxmin())

ic| df:           a         b         c         d         e         f         g  \
        0  0.619063  0.410143  0.756869  0.797118  0.916614  0.378878  0.429765
        1  0.894012  0.035073  0.188607  0.568562  0.889099  0.940786  0.848217
        2  0.383542  0.097126  0.597111  0.037532  0.102874  0.696824  0.351895
        3  0.255330  0.358879  0.891086  0.577195  0.417167  0.227740  0.185370
        4  0.437453  0.952062  0.574620  0.648967  0.980432  0.867464  0.611492

                  h         i         j
        0  0.823823  0.471129  0.906645
        1  0.732444  0.978453  0.878887
        2  0.773380  0.137188  0.561992
        3  0.939597  0.488365  0.776195
        4  0.631599  0.946328  0.910845
ic| df.sum(axis=0): a    2.589400
                    b    1.853284
                    c    3.008293
                    d    2.629374
                    e    3.306187
                    f    3.111692
                    g    2.426739
                    h    3.900843
                    i    3.021463
                    j    4.034564
                    dtype: float64
ic| df.sum(axis=0).idxmin(): 'b'

'b'

In [34]:
# 25. 다음 객체에서 중복된 값이 없는 유니크한 열의 카운트 출력(중복되지 않은 행은 몇 개..)
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
df.drop_duplicates()

   0  1  2
0  1  0  1
1  1  0  0
5  1  1  1
6  0  1  0
7  1  1  0
8  0  0  0

In [83]:
# 26. 객체의 각 행에 대해 세번째 NaN 값이 들어 있는 열을 찾으시오. 일련의 열 레이블을 반환해야 합니다.
# 답은 e, c, d, h, d 입니다.
nan = np.nan
data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]
columns = list('abcdefghij')
df = pd.DataFrame(data, columns=columns)
ic(df)
# df.loc[3].isna()
(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

ic| df:       a   b     c     d     e     f     g     h     i     j
        0  0.04 NaN   NaN  0.25   NaN  0.43  0.71  0.51   NaN   NaN
        1   NaN NaN   NaN  0.04  0.76   NaN   NaN  0.67  0.76  0.16
        2   NaN NaN  0.50   NaN  0.31  0.40   NaN   NaN  0.24  0.01
        3  0.49 NaN   NaN  0.62  0.73  0.26  0.85   NaN   NaN   NaN
        4   NaN NaN  0.41   NaN  0.05   NaN  0.61   NaN  0.48  0.68

0    e
1    c
2    d
3    h
4    d
dtype: object

In [85]:
# 27. 다음 객체에서 grps 에서 a, b, c 별로 가장 큰 값을 찾으시오.
# 출력 결과는
#  grps
#   a    409
#   b    156
#   c    345
# 이렇게 나옵니다.
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df.groupby('grps')['vals'].nlargest(3).sum(level=0)

grps
a    409
b    156
c    345
Name: vals, dtype: int64

In [90]:
# 28 다음 객체를 list 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
# ic(df.values)
df.values.tolist()

ic| df.values: array([[1, 4],
                      [2, 5],
                      [3, 6]], dtype=int64)

[[1, 4], [2, 5], [3, 6]]

In [91]:
# 29 다음 객체를 dictionary 로 변환하시오
df = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
a = df.to_dict()
pd.DataFrame(a)

   A  B
0  1  4
1  2  5
2  3  6

In [94]:
# 30 다음 객체를 customer_id 를 인덱스로하고 product_code 를 컬럼으로, purchare_amount 를 값으로, 재구성하시오
df = pd.DataFrame({"customer_id":['kim','lee','park','song','yoon','kang','tak','ryu','jang'],
               "product_code":['com','phone','tv','com','phone','tv','com','phone','tv'],
               "grade":['A','A','A','A','A','A','B','B','B'],
               "purchase_amount":[30,10,0,40,15,30,0,0,10]})
ic(df)
df = df.pivot(index="customer_id", columns="product_code", values="purchase_amount")
ic(df)

ic| df:   customer_id product_code grade  purchase_amount
        0         kim          com     A               30
        1         lee        phone     A               10
        2        park           tv     A                0
        3        song          com     A               40
        4        yoon        phone     A               15
        5        kang           tv     A               30
        6         tak          com     B                0
        7         ryu        phone     B                0
        8        jang           tv     B               10
ic| df: product_code   com  phone    tv
        customer_id
        jang           NaN    NaN  10.0
        kang           NaN    NaN  30.0
        kim           30.0    NaN   NaN
        lee            NaN   10.0   NaN
        park           NaN    NaN   0.0
        ryu            NaN    0.0   NaN
        song          40.0    NaN   NaN
        tak            0.0    NaN   NaN
        yoon           NaN   15.0   NaN

product_code   com  phone    tv
customer_id
jang           NaN    NaN  10.0
kang           NaN    NaN  30.0
kim           30.0    NaN   NaN
lee            NaN   10.0   NaN
park           NaN    NaN   0.0
ryu            NaN    0.0   NaN
song          40.0    NaN   NaN
tak            0.0    NaN   NaN
yoon           NaN   15.0   NaN

In [ ]:
# 31 30번 객체를
#    customer_id 와 grade 를 인덱스로하고 product_code 를 컬럼으로,
#    purchare_amount 를 값으로, 재구성하시오